@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap');


// Primary colors
$violet: hsl(257, 40%, 49%);


/*==========
DEFAULTS
=========*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: $violet;
    background-image: url(../images/bg-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;

    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #fff;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    margin-bottom: 0.7em;
}

p {
    line-height: 1.8em;
    font-size: 1.2em;
}

/*==========
LAYOUT
=========*/

.register-button {
    box-shadow: 5px 5px 5px darken($violet, 15%);
    border: 0;
    margin-top: 2.1em;
    margin-bottom: 4.5em;
    border-radius: 30px;
    padding: 1em 6em;
    font-size: 1rem;
    color: $violet;
}

.container {
    margin: 2em 3em;
    max-width: 1440px;
    // height: 100vh;

    display: grid;
    grid-template-columns: 1.6fr 1fr;

    .logo {
        grid-column: 1 / -1;

        img {
            max-width: 220px;
            width: 40%;
            margin-bottom: 5em;
        }
    }

    .mockup {
        grid-column: 1 / -1;
        margin-bottom: 5em;

        text-align: center;
        img {
            width: 95%;
            max-width: 750px;
            height: auto;
        }
    }

    .introduction {
        grid-column: 1 / -1;
        text-align: center;
    }

    .social {
        grid-column: 1 / -1;

        .social-list {
            width: 130px; // Base width that helps with space-between
            margin: 0 auto;
            list-style: none;

            // Space between circles
            display: flex;
            justify-content: space-between;

            $circle-box-size: 35px;
            .circle {
                width: $circle-box-size;
                height: $circle-box-size;
                border: 1px solid #fff;
                border-radius: 50%;

                // Center the svg icon
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 15px;
                }
            }
        }
    }
}


/*==========
DESKTOP
=========*/


@media only screen and (min-width: 1400px) {
    h1 {
        font-size: 2.5rem;
    }
}
@media only screen and (min-width: 1000px) {
    body {
        background-image: url(../images/bg-desktop.svg);
        background-repeat: repeat;
    }

    h1 {
        margin-top: 10%;
        margin-bottom: 0.5em;
    }

    .register-button {
        margin-top: 1.5em;
        padding: 1em 4em;
    }

    .container {
        margin: 5em;
        // height: auto;

        // grid-template-rows: 130px 550px 50px;
        row-gap: 0;
        column-gap: 1em;

        .logo {
            grid-row: 1;
        }

        .mockup {
            grid-column: 1 / 2;
            grid-row: 2;

            text-align: left;
            img {
                width: 100%;
                max-width: auto;
                height: auto;
            }
        }

        .introduction {
            grid-column: 2 / -1;
            grid-row: 2;

            text-align: left;
        }

        .social {
            grid-row: 3;

            .social-list {
                margin: 0 0 0 auto;
            }
        }
    }

}