@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;700&display=swap");
/*==========
DEFAULTS
=========*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #674baf;
  background-image: url(../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #fff;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  margin-bottom: 0.7em;
}

p {
  line-height: 1.8em;
  font-size: 1.2em;
}

/*==========
LAYOUT
=========*/
.register-button {
  -webkit-box-shadow: 5px 5px 5px #483479;
          box-shadow: 5px 5px 5px #483479;
  border: 0;
  margin-top: 2.1em;
  margin-bottom: 4.5em;
  border-radius: 30px;
  padding: 1em 6em;
  font-size: 1rem;
  color: #674baf;
}

.container {
  margin: 2em 3em;
  max-width: 1440px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.6fr 1fr;
      grid-template-columns: 1.6fr 1fr;
}

.container .logo {
  grid-column: 1 / -1;
}

.container .logo img {
  max-width: 220px;
  width: 40%;
  margin-bottom: 5em;
}

.container .mockup {
  grid-column: 1 / -1;
  margin-bottom: 5em;
  text-align: center;
}

.container .mockup img {
  width: 95%;
  max-width: 750px;
  height: auto;
}

.container .introduction {
  grid-column: 1 / -1;
  text-align: center;
}

.container .social {
  grid-column: 1 / -1;
}

.container .social .social-list {
  width: 130px;
  margin: 0 auto;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .social .social-list .circle {
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .social .social-list .circle i {
  font-size: 15px;
}

/*==========
DESKTOP
=========*/
@media only screen and (min-width: 1400px) {
  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  body {
    background-image: url(../images/bg-desktop.svg);
    background-repeat: repeat;
  }
  h1 {
    margin-top: 10%;
    margin-bottom: 0.5em;
  }
  .register-button {
    margin-top: 1.5em;
    padding: 1em 4em;
  }
  .container {
    margin: 5em;
    row-gap: 0;
    -webkit-column-gap: 1em;
            column-gap: 1em;
  }
  .container .logo {
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .container .mockup {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: left;
  }
  .container .mockup img {
    width: 100%;
    max-width: auto;
    height: auto;
  }
  .container .introduction {
    grid-column: 2 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: left;
  }
  .container .social {
    -ms-grid-row: 3;
    grid-row: 3;
  }
  .container .social .social-list {
    margin: 0 0 0 auto;
  }
}
/*# sourceMappingURL=style.css.map */